In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/gdsc-nsut-recruitment/sample_submission.csv
/kaggle/input/gdsc-nsut-recruitment/final_train.csv
/kaggle/input/gdsc-nsut-recruitment/final_test.csv

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [3]:
df = pd.read_csv('../input/gdsc-nsut-recruitment/final_train.csv',index_col = 'id')
test = pd.read_csv('../input/gdsc-nsut-recruitment/final_test.csv',index_col = 'id')

sample_submission = pd.read_csv("../input/gdsc-nsut-recruitment/sample_submission.csv")

In [4]:
df = pd.get_dummies(df)
# It converts categorical data into dummy or indicator variables

In [5]:
df=df.fillna(df.mean())
# Fills mean value to null areas

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   10000 non-null  int64
 1   feature_1   10000 non-null  int64
 2   feature_2   10000 non-null  int64
 3   feature_3   10000 non-null  int64
 4   feature_4   10000 non-null  int64
 5   feature_5   10000 non-null  int64
 6   feature_6   10000 non-null  int64
 7   feature_7   10000 non-null  int64
 8   feature_8   10000 non-null  int64
 9   feature_9   10000 non-null  int64
 10  feature_10  10000 non-null  int64
 11  feature_11  10000 non-null  int64
 12  feature_12  10000 non-null  int64
 13  feature_13  10000 non-null  int64
 14  feature_14  10000 non-null  int64
 15  target      10000 non-null  int64
dtypes: int64(16)
memory usage: 1.3 MB

In [7]:
X = df.drop(['target'],axis=1)
X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14
id,,,,,,,,,,,,,,,
1,0,1,0,1,1,0,0,0,0,1,1,0,0,3,1
2,6,0,2,2,1,0,0,1,0,0,1,0,0,2,0
3,3,0,4,0,0,0,0,2,0,3,0,0,1,5,1
4,2,0,7,3,5,0,1,1,3,4,8,1,0,8,0
5,1,0,2,2,3,0,0,1,0,3,0,0,1,0,1

In [8]:
Y = df['target']
Y

id
1        0
2        1
3        1
4        0
5        0
        ..
9996     0
9997     0
9998     1
9999     0
10000    1
Name: target, Length: 10000, dtype: int64

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=.05)

In [10]:
model = LogisticRegression(penalty='l2')
model.fit(X_train,Y_train)

LogisticRegression()

In [11]:
model.score(X_test,Y_test),model.score(X_train,Y_train)

(0.558, 0.5805263157894737)

In [12]:
forest_model  = RandomForestClassifier(max_depth=4)
forest_model.fit(X_train, Y_train)

RandomForestClassifier(max_depth=4)

In [13]:
forest_model.score(X_test, Y_test),forest_model.score(X_train, Y_train)

(0.594, 0.6261052631578947)

In [14]:
tree_model = DecisionTreeClassifier(max_depth=4)
tree_model.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=4)

In [15]:
tree_model.score(X_test, Y_test),tree_model.score(X_train, Y_train)

(0.586, 0.6074736842105263)

In [16]:
naive_model = GaussianNB()
naive_model.fit(X_train,Y_train)

GaussianNB()

In [17]:
naive_model.score(X_test,Y_test),naive_model.score(X_train,Y_train)

(0.524, 0.5385263157894736)

In [18]:
gbc = GradientBoostingClassifier()
gbc.fit(X_train,Y_train)

GradientBoostingClassifier()

In [19]:
gbc.score(X_test,Y_test),gbc.score(X_train,Y_train)

(0.62, 0.6458947368421053)

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 10001 to 15000
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   5000 non-null   int64
 1   feature_1   5000 non-null   int64
 2   feature_2   5000 non-null   int64
 3   feature_3   5000 non-null   int64
 4   feature_4   5000 non-null   int64
 5   feature_5   5000 non-null   int64
 6   feature_6   5000 non-null   int64
 7   feature_7   5000 non-null   int64
 8   feature_8   5000 non-null   int64
 9   feature_9   5000 non-null   int64
 10  feature_10  5000 non-null   int64
 11  feature_11  5000 non-null   int64
 12  feature_12  5000 non-null   int64
 13  feature_13  5000 non-null   int64
 14  feature_14  5000 non-null   int64
dtypes: int64(15)
memory usage: 625.0 KB

In [21]:
test = pd.get_dummies(test)

In [22]:
test = test.fillna(test.mean())

In [23]:
test

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14
id,,,,,,,,,,,,,,,
10001,4,0,0,0,0,0,0,0,0,14,0,0,0,8,0
10002,2,0,28,0,1,0,0,1,0,0,4,0,0,4,0
10003,5,4,0,1,1,0,0,2,0,1,0,0,1,0,0
10004,1,1,13,0,0,14,0,0,1,2,0,0,2,13,2
10005,0,1,27,1,9,1,1,2,1,2,0,13,0,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14996,1,0,4,0,6,0,0,1,0,1,0,0,0,0,0
14997,0,0,2,0,0,0,0,1,5,0,0,0,0,0,0
14998,0,0,0,1,0,5,6,0,2,6,2,2,2,23,1
14999,4,0,1,0,4,0,2,0,0,2,6,0,4,0,0
15000,6,0,2,0,0,0,1,3,1,0,2,0,1,16,2

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 10001 to 15000
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   5000 non-null   int64
 1   feature_1   5000 non-null   int64
 2   feature_2   5000 non-null   int64
 3   feature_3   5000 non-null   int64
 4   feature_4   5000 non-null   int64
 5   feature_5   5000 non-null   int64
 6   feature_6   5000 non-null   int64
 7   feature_7   5000 non-null   int64
 8   feature_8   5000 non-null   int64
 9   feature_9   5000 non-null   int64
 10  feature_10  5000 non-null   int64
 11  feature_11  5000 non-null   int64
 12  feature_12  5000 non-null   int64
 13  feature_13  5000 non-null   int64
 14  feature_14  5000 non-null   int64
dtypes: int64(15)
memory usage: 625.0 KB

In [25]:
results=gbc.predict(test)
results

array([1, 0, 0, ..., 0, 0, 0])

In [26]:
test.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14
id,,,,,,,,,,,,,,,
10001,4,0,0,0,0,0,0,0,0,14,0,0,0,8,0
10002,2,0,28,0,1,0,0,1,0,0,4,0,0,4,0
10003,5,4,0,1,1,0,0,2,0,1,0,0,1,0,0
10004,1,1,13,0,0,14,0,0,1,2,0,0,2,13,2
10005,0,1,27,1,9,1,1,2,1,2,0,13,0,6,1

In [27]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,target
id,,,,,,,,,,,,,,,,
1,0,1,0,1,1,0,0,0,0,1,1,0,0,3,1,0
2,6,0,2,2,1,0,0,1,0,0,1,0,0,2,0,1
3,3,0,4,0,0,0,0,2,0,3,0,0,1,5,1,1
4,2,0,7,3,5,0,1,1,3,4,8,1,0,8,0,0
5,1,0,2,2,3,0,0,1,0,3,0,0,1,0,1,0

In [28]:
results=pd.DataFrame({'id':test.index,'target':results})
results

         id  target
0     10001       1
1     10002       0
2     10003       0
3     10004       0
4     10005       0
...     ...     ...
4995  14996       1
4996  14997       1
4997  14998       0
4998  14999       0
4999  15000       0

[5000 rows x 2 columns]

In [29]:
results.to_csv('my_submissiongdsc.csv',index=False)
print("Submission Successful!")

Submission Successful!